version: "3"
services:
  tranql:
    build:
      dockerfile: Dockerfile
      context: .
    ports:
      - "8001:8001"
    command: gunicorn --workers=1 --bind=0.0.0.0:8001 --name=tranql --timeout=600 --reload tranql.api:app
    environment:
      - SCHEMA_CONFIG_PATH=/home/tranql/dev-schema.yaml
    volumes:
      - ./src:/home/tranql/tranql/src
      - ./dev-schema.yaml:/home/tranql/dev-schema.yaml
  redis_graph:
    image: redislabs/redisgraph:2.10.9
    volumes:
      - ./redis_data:/data