aiohttp==3.8.6
bmt==1.4.0
coverage==4.5.3
flasgger==0.9.5
Flask==2.2.5
Flask-Compress==1.13
Flask-Cors==3.0.10
flask-restx>=1.0.3
gunicorn==21.2.0
Jinja2==3.1.2
jsonpath-rw==1.4.0
MarkupSafe==2.1.1
openapi==1.1.0
git+https://github.com/helxplatform/Plater.git@v3.0.2
git+https://github.com/TranslatorSRI/reasoner-pydantic@v1.0.0#egg=reasoner-pydantic
git+https://github.com/TranslatorSRI/reasoner-converter@1.2.4#egg=reasoner-converter
reasoner-transpiler==1.7.1
redis==4.1.4
requests==2.31.0
requests-cache==0.4.13
requests-mock==1.5.2
PyYAML
python-Levenshtein==0.12.2
networkx==2.8.8
pytest==5.4.1
pytest-cov==2.7.1
python-coveralls==2.9.2
python-dateutil==2.8.1
werkzeug==2.2.3
urllib3==1.26.17
uvicorn